<?xml version="1.0" encoding="utf-8"?>
<!--Config.xml generated automatically by Intersect Game Engine.-->
<Config>
  <Language>English</Language>
  <Host>54.37.155.6</Host>
  <Port>5400</Port>
  <RenderCache>true</RenderCache>
  <MenuBGM />
  <MenuBG>background.png</MenuBG>
  <Logo>logo1.png</Logo>
  <IntroBG />
</Config>